.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  margin-top:20px;
  background:#eee;
}

.product-content {
  border: 2px solid #dfe5e9;
  margin-bottom: 20px;
  margin-top: 12px;
  background: #fff;
  padding: 4px;
      -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}

.product-content .carousel-control.left {
  margin-left: 0
}

.product-content .product-image {
  background-color: #fff;
  display: block;
  min-height: 238px;
  overflow: hidden;
  position: relative
}

.product-content .product-deatil {
  border-bottom: 1px solid #dfe5e9;
  padding-bottom: 17px;
  padding-left: 16px;
  padding-top: 16px;
  position: relative;
  background: #fff
}

.product-content .product-deatil h5 a {
  color: #2f383d;
  font-size: 15px;
  line-height: 19px;
  text-decoration: none;
  padding-left: 0;
  margin-left: 0
}

.product-content .product-deatil h5 a span {
  color: #9aa7af;
  display: block;
  font-size: 13px
}

.product-content .product-deatil span.tag1 {
  border-radius: 50%;
  color: #fff;
  font-size: 15px;
  height: 50px;
  padding: 13px 0;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 10px;
  width: 50px
}

.product-content .product-deatil span.sale {
  background-color: #21c2f8
}

.product-content .product-deatil span.discount {
  background-color: #71e134
}

.product-content .product-deatil span.hot {
  background-color: #fa9442
}

.product-content .description {
  font-size: 12.5px;
  line-height: 20px;
  padding: 10px 14px 16px 19px;
  background: #fff
}

.product-content .product-info {
  padding: 11px 19px 10px 20px
}

.product-content .product-info a.add-to-cart {
  color: #2f383d;
  font-size: 13px;
  padding-left: 16px
}

.product-content name.a {
  padding: 5px 10px;
  margin-left: 16px
}

.product-info.smart-form .btn {
  padding: 6px 12px;
  margin-left: 12px;
  margin-top: -10px
}

.product-entry .product-deatil {
  border-bottom: 1px solid #dfe5e9;
  padding-bottom: 17px;
  padding-left: 16px;
  padding-top: 16px;
  position: relative
}

.product-entry .product-deatil h5 a {
  color: #2f383d;
  font-size: 15px;
  line-height: 19px;
  text-decoration: none
}

.product-entry .product-deatil h5 a span {
  color: #9aa7af;
  display: block;
  font-size: 13px
}

.load-more-btn {
  background-color: #21c2f8;
  border-bottom: 2px solid #037ca5;
  border-radius: 2px;
  border-top: 2px solid #0cf;
  margin-top: 20px;
  padding: 9px 0;
  width: 100%
}

.product-block .product-deatil p.price-container span,
.product-content .product-deatil p.price-container span,
.product-entry .product-deatil p.price-container span,
.shipping table tbody tr td p.price-container span,
.shopping-items table tbody tr td p.price-container span {
  color: #21c2f8;
  font-family: Lato, sans-serif;
  font-size: 24px;
  line-height: 20px
}

.product-info.smart-form .rating label {
  margin-top: 0
}

.product-wrap .product-image span.tag2 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 10px 0;
  color: #fff;
  font-size: 11px;
  text-align: center
}

.product-wrap .product-image span.sale {
  background-color: #57889c
}

.product-wrap .product-image span.hot {
  background-color: #a90329
}

.shop-btn {
  position: relative
}

.shop-btn>span {
  background: #a90329;
  display: inline-block;
  font-size: 10px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
  font-weight: 700;
  border-radius: 50%;
  padding: 2px 4px 3px!important;
  text-align: center;
  line-height: normal;
  width: 19px;
  top: -7px;
  left: -7px
}

.description-tabs {
  padding: 30px 0 5px!important
}

.description-tabs .tab-content {
  padding: 10px 0
}

.product-deatil {
  padding: 30px 30px 50px
}

.product-deatil hr+.description-tabs {
  padding: 0 0 5px!important
}

.product-deatil .carousel-control.left,
.product-deatil .carousel-control.right {
  background: none!important
}

.product-deatil .glyphicon {
  color: #3276b1
}

.product-deatil .product-image {
  border-right: 0px solid #fff !important
}

.product-deatil .name {
  margin-top: 0;
  margin-bottom: 0
}

.product-deatil .name small {
  display: block
}

.product-deatil .name a {
  margin-left: 0
}

.product-deatil .price-container {
  font-size: 24px;
  margin: 0;
  font-weight: 300
}

.product-deatil .price-container small {
  font-size: 12px
}

.product-deatil .fa-2x {
  font-size: 16px!important
}

.product-deatil .fa-2x>h5 {
  font-size: 12px;
  margin: 0
}

.product-deatil .fa-2x+a,
.product-deatil .fa-2x+a+a {
  font-size: 13px
}

.product-deatil .certified {
  margin-top: 10px
}

.product-deatil .certified ul {
  padding-left: 0
}

.product-deatil .certified ul li:not(first-child) {
  margin-left: -3px
}

.product-deatil .certified ul li {
  display: inline-block;
  background-color: #f9f9f9;
  padding: 13px 19px
}

.product-deatil .certified ul li:first-child {
  border-right: none
}

.product-deatil .certified ul li a {
  text-align: left;
  font-size: 12px;
  color: #6d7a83;
  line-height: 16px;
  text-decoration: none
}

.product-deatil .certified ul li a span {
  display: block;
  color: #21c2f8;
  font-size: 13px;
  font-weight: 700;
  text-align: center
}

.product-deatil .message-text {
  width: calc(100% - 70px)
}

@media only screen and (min-width:1024px) {
  .product-content div[class*=col-md-4] {
      padding-right: 0
  }
  .product-content div[class*=col-md-8] {
      padding: 0 13px 0 0
  }
  .product-wrap div[class*=col-md-5] {
      padding-right: 0
  }
  .product-wrap div[class*=col-md-7] {
      padding: 0 13px 0 0
  }
  .product-content .product-image {
      border-right: 1px solid #dfe5e9
  }
  .product-content .product-info {
      position: relative
  }
}

.ListBuy{
  position: fixed;
  width: 100%;
  padding: 0 20%; 
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
 height: auto;
}
.ListBuy i{
  width: 50px;
  height: 50px;
  font-size: 30px;
  z-index: 1;
  background: silver;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .ListBuy .bg-table{
position: relative;
background: silver;
width: 50px;
height: 50px;
overflow: hidden;
transition: 1s;
border-radius: 50%;
z-index: 0;
transform: translateY(-40px);
animation: hidden 0.3s ease-out forwards;
}
.ListBuy .bg-table .table{
  position: absolute;
}
.ListBuy .bg-table.hidden{
  animation: hidden 0.3s ease-out forwards;
  }
.ListBuy .bg-table.show{
  animation: island 0.3s ease-in forwards;
}
.ListBuy .bg-table.show .table{
  color: black;
}
.ListBuy .table{
  background: silver;
  opacity: 0;
  
}
.ListBuy .show .table{
  opacity: 1;
} */
/* @keyframes island {
  from{
    width: 30px;
    height: 50px;
   overflow: hidden;
    transform: translateY(-40px);
    border-radius: 50%;
  }
  to{
    width: 90%;
    height: 500px;
    transform: translateY(-10px);
    overflow: scroll;
    border-radius: 0%;
  }
}
@keyframes hidden{
  from{width:100%;
    transform: translateY(-10px);
    overflow-y: scroll;
    border-radius: 0%;}
  to{ width: 50px;
    height: 50px;
    transform: translateY(-40px);
    border-radius: 50%;}
} */
.InSide{
  position: relative;
  width: 200px;
  height: 35px;
  z-index: -1;
  border-radius: 16px;
  background: silver;
 
  overflow: hidden;
  animation: hidden 0.3s ease-in forwards;
} 
.ListBuy .InSide .table{
  opacity: 0;
}
.ListBuy .InSide.show {
 animation: show 0.3s ease-in forwards;
}

.ListBuy .InSide.show .table{
  opacity: 1;
}
.InSide .price{
  position: fixed;
  left: 10px;
  width: 60%;
  
  height:100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.InSide.show .price{
  display: none;
}
.InSide .SoLuong{
  position: absolute;
  background: blue;
  transform: translateX(-25%);
  z-index: 1;
  left: 50%;
}
.InSide .type{
  position: fixed;
  right: 0px;
  width: 50%;
  
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.InSide.show .type{
  display: none;
}
.InSide.show .bg-table{
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.bg-table .table{
  position:absolute ;
}
 @keyframes show {
   from{
    width: 200px;
    height: 35px;
    transform: translateY(-40px);
    /* overflow: hidden; */
   }
   to{
    width: 100%;
    height:500px;
    transform: translateY(-20px);
    /* overflow: scroll; */
   }
 }
 @keyframes hidden {
   from{
    width: 100%;
    height: 600px;
    transform: translateY(-20px);
    /* overflow: scroll; */
   }
   to{
    width: 200px;
    height: 35px;
    transform: translateY(-40px);
    /* overflow: hidden; */
   }
 }
.Detailinfo{
  position: fixed;
  width: 60vw;
  height: 40vh;
  background: silver;
  top: 25%;
  transform: translateY(-50%);
  left:50%;
  transform: translateX(-50%);
  display: none;
}
.DetailinfoShow{
  display: block;
}
.Detailinfo i{
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 10px;
}